body {
    color: #77797c;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
    background-color: #f0f2f3;
}

.title{
    background-color: #fff;
    margin-bottom: 20px;
}

.row-no-margin{
    margin-bottom: 0;
}

.uni-logo{
    width: 112px;
    height: 83px;
}

.jortec{
    width: 110px;
    height: 130px;
}

.half-bigger-font{
    font-size: 1.5em;
}

.icon-git{
    margin-left: 1em;
    width: 80px;
    height: 21px;
}

.icon-bit{
    width: 84px;
    height: 16px;
    margin-left: 1em;
}